<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scroll</title>
    <script>
        // Event listener for scrolling
        window.onscroll = () => {
            // Check if we're at the bottom
            if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
                // Change color to green
                document.querySelector('body').style.backgroundColor = "green";
            } else {
                // Change color to white
                document.querySelector('body').style.backgroundColor = "white";
            }
        }


        // document.addEventListener("")

    </script>
</head>
<body>
<script type="text/javascript">
    for (let i = 1; i <= 50; i++) {
        document.body.innerHTML += `<p>${i}</p>`;
    }
</script>


</body>
</html>