{% extends "network/layout.html" %}

{% block body %}
    {% block extra_content %}
    {% endblock %}

    {% for post in object_list %}
<!--        {{ object.text }}-->
        <div class="container">
            <div  name="post_media" style="border: 5px solid black; margin: 3px ">
                <div name="content">Post Text: {{ post.content }}</div>
                <div name="creator">Post Creator: <a id="creator" href="{% url 'network:profile' post.creator %}">{{ post.creator }}</a></div>
                <div name="pub_date">Date Posted: {{ post.pub_date }}</div>
                <div name="likes">Likes: {{ post.likes_count }}</div>

            </div>
        </div>
    {% endfor %}

{% endblock %}