$sidebar_margin: 200px;

.sidenav {
  height: 100%;
  width: $sidebar_margin;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  //right: 0;
  background-color: black;
  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: red;
    display: block;
    //background-color: aqua;
  }
}

.main {
  margin-left: $sidebar_margin;
  padding: 0px 10px;
}

ul {
  background-color: red;
}

textarea {
  height: 150px;
  width: 500px;
  //background-color: aqua;

}