
body {
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
}

[class= toplinks] {
    text-align: right;
}

div[class=advanced] {
    text-align: left;
}



//input[class="advanced"] {
//    @extend input, [type=text];
//    border-radius: 0px;
//    margin-left: 0px;
//
//}


form[class="regular"] {
    input[type=text] {
        border-radius: 20px;
        border-width: 1px;
        border-color: #f1f0f0;
        width: 500px;
        height: 30px;
        outline-style: none;
    }

    [type=submit] {
        border-radius: 5px;
        border-width: 1px;
    }
}

form[class="advanced"] {
    @extend [class="regular"];
    width: 1000px;
    label {
        display: inline-block;
        min-width: 20%;
    }

    input[type=text] {
        border-radius: 1px;
        width: 60%;



    }

}
//}